
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Área do restaurante</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding center text-center>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/imgs/logodoapp2.png"/>                
      </ion-col>           
    </ion-row>
  </ion-grid>
  
  <form #form="ngForm" novalidate>
    <ion-list class="listainputs" >
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col>
            
            </ion-col>
          </ion-row>

        </ion-grid>

        <ion-item>
          <ion-input placeholder="E-mail" type="text" name="email" [(ngModel)]="user.email" #email="ngModel" required></ion-input>
        </ion-item>
    	<div class="spacer" style="width:300px;height:3px;"></div>
        <ion-item>
          <ion-input placeholder="Senha" type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
        </ion-item>
      </ion-list>

      <div class="spacer" style="width:300px;height:13px;"></div>
      <button ion-button round [disabled]="!form.form.valid" (click)=" Login()" > Entrar no restaurante </button>
      <button ion-button round color="secondary" (click)="newRestaurante()" > Registrar novo restaurante </button>

    </ion-list>
  </form>  
</ion-content>