
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">

  <form #form="ngForm" novalidate>

    <div class="pagecontratanteauth" >
      <ion-list class="inputcontratante"  >
        <ion-item>
          <ion-input placeholder="E-mail" type="text" name="email" [(ngModel)]="user.email" #email="ngModel" required></ion-input>
        </ion-item>
        <ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
          O campo é obrigatório
        </ion-item>        
        <div class="spacer" style="width:300px;height:5px;"></div>
        <ion-item>
          <ion-input placeholder="Senha" type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
        </ion-item>
        <ion-item *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
          O campo é obrigatório
        </ion-item>        
        <div class="spacer" style="width:300px;height:5px;"></div>
        <!--
        <ion-item>
          <ion-input placeholder="Repita sua Senha" type="password" name="repass" [(ngModel)]="user.repass"> </ion-input>

        </ion-item>
      -->
        <div class="spacer" style="width:300px;height:5px;"></div>
      </ion-list> 

      <button ion-button full [disabled]="!form.form.valid" (click)="GoToRegistro()" class="botao"> Continuar </button>
    </div>

  </form>  

</ion-content>