page-cadastro {

.scroll-content {
  align-content: center;
  background-color: rgba(190, 190, 190, 0.301);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 0 !important;
      overflow-y: hidden !important;
      overflow-x: hidden !important;
}

.pagecontratanteauth{
    margin: inherit;
    box-shadow: 0px 0px 1px 0px black;

    margin-top: 50%x;
}

.inputcontratante{
  margin-top: 50%;
}

.masters{
    background-color: orange;
}

}
