<!--
  Generated template for the EstabelecimentosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Restaurantes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
	  <ion-item>
	    <ion-avatar item-start>
	      <img src="img/avatar-cher.png">
	    </ion-avatar>
	    <h2>Cher</h2>
	    <p>Ugh. As if.</p>
	  </ion-item>
	</ion-list>
</ion-content>
