<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Entre ou Cadastre-se</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding center text-center class="masters">
  <form #form="ngForm" novalidate>
    <ion-list class="listainputs" >
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="assets/imgs/logodoapp.png"/>    

            </ion-col>
          </ion-row>

        </ion-grid>

        <ion-item>
          <ion-input placeholder="E-mail" type="text" name="email" [(ngModel)]="user.email" #email="ngModel" required></ion-input>
        </ion-item>
    <div class="spacer" style="width:300px;height:3px;"></div>
        <ion-item>
          <ion-input placeholder="Senha" type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
        </ion-item>
      </ion-list>

      <div class="spacer" style="width:300px;height:13px;"></div>
    <button ion-button round [disabled]="!form.form.valid" (click)=" Login()" > Entrar </button>
    <button ion-button round color="secondary" (click)="GoToPagRegistro()" > Registrar </button>
    <button ion-button round color="danger"  (click)="LoginRestaurante()" > Area do restaurante </button>
    
    </ion-list>
  </form>  
</ion-content> 