page-login {

  .scroll-content {
    align-content: center;
    background-color: rgba(190, 190, 190, 0.301);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 0 !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
  }

  .logo {
    top: 0%;
    height: 70%;
    width: 70%;
  }

  .titulo {
    padding:  0px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
  }

  .botao {
   // border-radius: 50px;
    opacity: 10%; //background-color: transparent !important;
    background-color: rgba(27, 92, 233, 0.5);
  }

  .botao2 {
   // border-radius: 50px;
    opacity: 10%; //background-color: transparent !important;
    background-color: rgba(255, 0, 0, 0.5);
  }

  .listainputs{
    margin: inherit;
    margin-top: 40px;
  }
  
  .masters{
    background-color: orange;
  }

}