<!--
  Generated template for the PedidosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>pedidos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    
      <ion-item-sliding *ngFor="let pedido of pedidos | async">
        <ion-item>
            <ion-card>
                <ion-card-header>
                  Pedido
                </ion-card-header>
                <ion-card-content>
                  <h2>Marmitas</h2>
                  <p>{{pedido.carne}}</p>
                  <p>{{pedido.feijoada}}</p>
                  <p>{{pedido.frango}}</p>
                  <h2>Bebidas</h2>
                  <p>{{pedido.coca2}}</p>
                  <p>{{pedido.coca300}}</p>
                  <p>{{pedido.fanta300}}</p>
                </ion-card-content>
              </ion-card>            
        </ion-item>
        <ion-item-options side="right" (ionSwipe)="saveItem(item)">
          <button ion-button expandable color="danger"  (click)="function()">
             <ion-icon name="trash">Recusar</ion-icon>
          </button>
          <button ion-button expandable color="secondary"  (click)="function()">
            <ion-icon name="checkmark">Aceitar</ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
   
  </ion-list>

</ion-content>
