<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Restaurantes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="masters">

  <ion-list>
    <ion-item>
      <h1>Selecione um restaurante</h1>
    </ion-item>    
    
    <ion-item  *ngFor="let restaurante of restaurantes | async" (click)="goToPedidoRestaurante(restaurante)">
      <ion-avatar item-start>
        <img src="assets/imgs/logo.jpg">
      </ion-avatar>
      <h2>{{ restaurante.name }}</h2>
      <p>{{ restaurante.descricao }}</p>
      <ion-note item-end><ion-icon name="star"></ion-icon>4,1</ion-note>
    </ion-item>
     
  </ion-list> 
   
</ion-content>
