<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Nome do restaurante</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.name.valid && (form.controls.name.dirty || form.controls.name.touched)" color="danger">
      <div [hidden]="!form.controls.name.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Descrição</ion-label>
      <ion-input type="text" formControlName="descricao"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.descricao.valid && (form.controls.descricao.dirty || form.controls.descricao.touched)" color="danger">
      <div [hidden]="!form.controls.descricao.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>     
 
    <ion-item>
      <ion-label stacked>CNPJ</ion-label>
      <ion-input type="number" formControlName="cnpj"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.cnpj.valid && (form.controls.cnpj.dirty || form.controls.cnpj.touched)" color="danger">
      <div [hidden]="!form.controls.cnpj.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>    

    <ion-item>
      <ion-label stacked>DDD</ion-label>
      <ion-input type="number" formControlName="ddd"></ion-input>
    </ion-item> 
    <ion-item *ngIf="!form.controls.ddd.valid && (form.controls.ddd.dirty || form.controls.ddd.touched)" color="danger">
      <div [hidden]="!form.controls.ddd.errors.required">
        O campo é obrigatório
      </div>
    </ion-item> 

    <ion-item>
      <ion-label stacked>Telefone</ion-label>
      <ion-input type="number" formControlName="telefone"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.telefone.valid && (form.controls.telefone.dirty || form.controls.telefone.touched)" color="danger">
      <div [hidden]="!form.controls.telefone.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>  

    <ion-item>
      <ion-label stacked>Endereço</ion-label>
      <ion-input type="text" formControlName="endereco"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.endereco.valid && (form.controls.endereco.dirty || form.controls.endereco.touched)" color="danger">
      <div [hidden]="!form.controls.endereco.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>    

    <ion-item>
      <ion-label stacked>Forma de pagamento</ion-label>
      <ion-input type="text" formControlName="forma_de_pagamento"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.forma_de_pagamento.valid && (form.controls.forma_de_pagamento.dirty || form.controls.forma_de_pagamento.touched)" color="danger">
      <div [hidden]="!form.controls.forma_de_pagamento.errors.required">
        O campo é obrigatório
      </div>
    </ion-item> 

    <ion-item>
      <ion-label stacked>Horário de Funcionamento</ion-label>
      <ion-input type="text" formControlName="horario"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.horario.valid && (form.controls.horario.dirty || form.controls.horario.touched)" color="danger">
      <div [hidden]="!form.controls.horario.errors.required">
        O campo é obrigatório
      </div>
    </ion-item> 

    <div padding>
      <button ion-button color="secondary" block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>
  </form>

</ion-content>
