<!--
  Generated template for the DetalhePedidoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detalhe-pedido</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<button ion-button round color="secondary" (click)="finalizarPedido()">Finalizar Pedido</button>
</ion-content>
