
<ion-header>

  <ion-navbar color="dark">

    <ion-title>{{ restaurante.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="masters">
	        
	    <ion-list>           
	        <ion-item>
	          <ion-label>
	            Marmita de feijoada
	            <p class="description">Feijoada completa, com farofa, arroz, salada e laranja de sobremesa.</p>
	            <p class="price">R$ 12,00</p>
	      	  </ion-label>
	          <ion-checkbox checked="false" [(ngModel)]="feijoada" name="feijoada"></ion-checkbox>
	        </ion-item> 

	        <ion-item>
	          <ion-label>
	          	Marmita de Frango
	            <p class="description">200g de peito de frango, com farofa, arroz, salada e laranja de sobremesa.</p>
	            <p class="price">R$ 10,00</p>	          	
	      	  </ion-label>
	          <ion-checkbox checked="false" [(ngModel)]="frango" name="frango"></ion-checkbox>
	        </ion-item>
	      
	        <ion-item>
	          <ion-label>
	          	Marmita de carne-moida
	            <p class="description">200g de carne-moída de qualidade, com farofa, arroz, salada e laranja de sobremesa.</p>
	            <p class="price">R$ 8,00</p>	          	
	      	  </ion-label>
	          <ion-checkbox checked="false" [(ngModel)]="carne" name="carne"></ion-checkbox>
	        </ion-item>
	        
	        <ion-item>
	          <ion-label>
	          	Coca-cola 300ml
	            <p class="description">Lata de refrigerante 300ml</p>
	            <p class="price">R$ 2,50</p>	          	
	      	  </ion-label>
	            <ion-checkbox checked="false" [(ngModel)]="coca300" name="coca300"></ion-checkbox>
	          </ion-item>
	        
	          <ion-item>
		          <ion-label>
		          	Fanta 300ml
		            <p class="description">Lata de refrigerante 300ml.</p>
		            <p class="price">R$ 2,50</p>	          	
		      	  </ion-label>
	            <ion-checkbox checked="false" [(ngModel)]="fanta300" name="fanta300"></ion-checkbox>
	          </ion-item>
	        
	          <ion-item>
	          <ion-label>
	          	Coca-cola 2 Litros
	            <p class="description">Garrafa de refrigerante 2 litros.</p>
	            <p class="price">R$ 7,00</p>	          	
	      	  </ion-label>
	            <ion-checkbox checked="false" [(ngModel)]="coca2" name="coca2"></ion-checkbox>
	          </ion-item>
	          
	      </ion-list>
	     <button ion-button round color="secondary" (click)="registrarPedido(restaurante.key, feijoada, frango, carne, coca300, fanta300, coca2)">Fazer Pedido</button>   
	     
</ion-content>